---
import MyLink from "../components/MyLink.astro";
import Default from "../layouts/Default.astro";
---

<Default title="KF | Error 404!">
  <div class="flex h-full flex-col items-center justify-center">
    <div class="my-6 flex flex-col items-center justify-center xl:my-8">
      <h1 class="text-2xl font-extrabold md:text-3xl xl:text-4xl">Error 404!</h1>
      <h2 class="text-basis mx-5 mt-1 text-center md:text-lg xl:text-xl">
        I think you're lost, let me help you get <MyLink hoverUnderline href="/">back</MyLink> :)
      </h2>
    </div>
    <div class="h-0 xs:h-[10px] lg:h-[4rem]"></div>
    <!-- This div pushes the other content up on certain screen sizes making things look better -->
    <!-- TODO: Fix layout on screens with low height (320px landscape?) -->
  </div>
</Default>
