---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
// import portrait from '../assets/images/portrait.jpg'
import portrait from '../assets/images/placeholder.svg'

---

<Layout title="Welcome to Astro.">
  <div class="h-full flex flex-col justify-center items-center">
    <div class="">
      <Image src={portrait} alt="Portrait" class="w-48 h-36 xl:w-96 xl:h-80 rounded-3xl object-cover overflow-hidden hover:rotate-[26deg] mb-12 hover:mb-24 transition-all"/>
      <!-- <Image src={portrait} alt="Portrait" class="w-48 h-48 rounded-full object-cover overflow-hidden hover:rotate-[26deg] mb-12 transition-all"/> -->
      <!-- <Image src={portrait} alt="Portrait" class="w-48 h-48 overflow-hidden object-cover rounded-full rotate-[26deg]"/> -->
    </div>
    <div class="">
      <h1 class="text-4xl font-extrabold">Fabian Kirschner</h1>
    </div>
    <div class="">
      <h2 class="text-2xl mt-1">Super fancy subtitle that is eight words long</h2>
    </div>
    <div class="flex mt-8">
      <div class="bg-black text-white text-center font-bold w-36 py-2 mx-4 px-4 rounded-full">Projects</div>
      <div class="border-black border-2 text-black text-center font-bold w-36 py-2 mx-4 px-4 rounded-full">Blog</div>
    </div>
  </div>

</Layout>
