---
import { Popover } from "@headlessui/react";
import MyLink from "./MyLink.astro";

interface Props {
  className?: String;
}
const { className = "" } = Astro.props;

const footer_links = {
  "Privacy Policy": "/privacy",
};

const quote = "Be curious, break, fix and improve";
---

<Popover id="footer" className={`${className} border-t-2 border-gray-100 `}>
  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <div class="flex items-center justify-between py-6 text-xs">
      <!-- Quote (left) -->
      <span class="self-start">{quote}</span>

      <!-- Links -->
      <ul class="ml-6 flex flex-col gap-x-5 xs:flex-row">
        {
          Object.entries(footer_links).map(([name, slug]) => (
            <li class="">
              <MyLink href={slug} hoverUnderline className="hover:decoration-1">
                {name}
              </MyLink>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Popover>
