---
import { getEntry } from "astro:content";
import Markdown from "../../layouts/Markdown.astro";

const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
const entry = await getEntry("projects", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}
const { Content, headings } = await entry.render();
---

<Markdown tocHeadings={headings} title={entry.data.title} titleSlug="overview">
  <h1 id="overview">{entry.data.title}</h1>
  <Content />
</Markdown>
