---
import { getEntry, render } from "astro:content";
import Markdown from "../../layouts/Markdown.astro";
import Image from "../../components/MyImage.astro";

const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
let entry = await getEntry("projects", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}
const { Content, headings } = await render(entry);
const images = import.meta.glob("/src/content/projects/images/**/*.{jpeg,jpg,png,gif,svg}");
---

<Markdown tocHeadings={headings} title={entry.data.title} titleSlug="overview">
  <div class="not-prose space-y-6">
    <h1 id="overview" class="scroll-mt-28 text-4xl font-extrabold tracking-tight text-slate-900">
      {entry.data.title}
    </h1>
    <div id="gallery" class={`grid w-full grid-cols-2 gap-x-2 gap-y-2`}>
      {
        entry.data.titleImages.map((image) => (
          <a class="titleImageLink" href="#">
            <div class="flex h-56 w-full flex-row sm:h-64 lg:h-80">
              <Image
                src={images[`/src/content/projects/images/${image}`]()}
                className="my-0 h-full w-1 grow object-cover"
                width="600"
                height="800"
                alt=""
                loading="lazy"
                decoding="async"
              />
            </div>
          </a>
        ))
      }
    </div>
  </div>
  <div id="content-section">
    <Content />
  </div>
</Markdown>

<script>
  const titleImageLinks = Array.from(document.getElementsByClassName("titleImageLink"));
  titleImageLinks.forEach((link) => {
    const childImg = link.getElementsByTagName("img")[0];
    link.setAttribute("href", childImg.src);
  });
</script>
