---
import { getEntry } from "astro:content";
import Markdown from "../../layouts/Markdown.astro";
import Image from "../../components/MyImage.astro";

const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
const entry = await getEntry("projects", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}
const { Content, headings } = await entry.render();
const images = import.meta.glob("/src/content/projects/images/**/*.{jpeg,jpg,png,gif,svg}");
---

<Markdown tocHeadings={headings} title={entry.data.title} titleSlug="overview">
  <h1 id="overview">{entry.data.title}</h1>
  <div id="gallery" class={`grid w-full grid-cols-2 gap-x-2 gap-y-2`}>
    {
      entry.data.titleImages.map((image) => (
        <a class="titleImageLink" href=""}>
          <div class="flex w-full flex-row h-56 sm:h-64 lg:h-80">
            <Image
              src={images[`/src/content/projects/images/${image}`]()}
              className="h-full w-1 grow object-cover my-0"
              width="600"
              height="800"
              alt=""
              loading="lazy"
              decoding="async"
            />
          </div>
        </a>
      ))
    }
  </div>
  <Content />
</Markdown>

<script>
  const titleImageLinks = Array.from(document.getElementsByClassName("titleImageLink"));
  titleImageLinks.forEach((link) => {
    const childImg = link.getElementsByTagName("img")[0];
    link.setAttribute("href", childImg.src);
  });
</script>
