---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  title?: string;
}

const slugNoSlash = Astro.url.pathname.substring(1);
const pageName = slugNoSlash == "" ? "Home" : slugNoSlash.charAt(0).toUpperCase() + slugNoSlash.substring(1);
const defaultTitle = "KF | " + pageName;

const { title = defaultTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <div class="flex min-h-screen flex-col">
      <Header className={"fixed top-0 z-10 w-full"} />
      <!-- TODO: define header height in a single place -->
      <main class="mt-20 grow sm:mt-24">
        <slot />
      </main>
      <Footer className="z-10 bg-white" />
      <SpeedInsights />
    </div>
  </body>
</html>
