---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <div class="flex w-full justify-around px-4 py-4 pt-8">
    <div
      class="prose w-full !text-purple-950 prose-h1:text-purple-950 prose-h2:text-purple-950 prose-h3:text-purple-950 prose-h4:text-purple-950 prose-h5:text-purple-950 prose-h6:text-purple-950"
    >
      <slot class="" />
    </div>
  </div>
</BaseLayout>
