---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <div class="min-h-full w-full flex justify-around py-4 px-4 ">
    <div class="w-full prose">
      <slot class=""/>
    </div>
  </div>
</BaseLayout>