---
interface Props {
  title?: string;
}

const slugNoSlash = Astro.url.pathname.substring(1);
const pageName = slugNoSlash == "" ? "Home" : slugNoSlash.charAt(0).toUpperCase() + slugNoSlash.substring(1);
const defaultTitle = "KF | " + pageName;

const { title = defaultTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <slot />
  </body>
  <!-- Plausible Analytics Integration - localhost will be ignored by the plausible script, even when overwriting data-domain with an actual domain. -->
  <!-- This there is a redirect set up in astro.config.js to plausible.io for the below resources. This circumvents blocking by some tracking7ad-blockers -->
  <!-- ublock origin (and probably others) still block it though by using this approach, see js console "net::ERR_BLOCKED_BY_CLIENT" -->
  <!-- Maybe dynamic routing could help here, or sending events on the server side. TODO -->
  <script defer src="/plausible/js/script.js" data-api="/plausible/api/event" data-domain={Astro.url.hostname}></script>
</html>
